<%- include("partials/header"); -%>
<h1>Add Provinsi</h1>
    <form class="" action="/provinsi/add" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Nama Provinsi</label>
            <input class="form-control" type="text" name="nama">
            <label>Choose a Picture:</label>
            <input class="form-control" type="file" name="photo">
            <label>Pulau</label>
            <input class="form-control" type="text" name="pulau" >
        </div>
        <button class="btn btn-primary" type="submit" name="button">submit</button>
    </form>
<%- include("partials/footer"); -%>